* {
    margin: 0px;
    padding: 0px;
}


.menu {
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}

    .menu ul {
        list-style: none;
        display: flex;
        margin-right: 20px;
    }

        .menu ul li {
            height: fit-content;
        }

        .menu ul li a {
            padding: 10px;
            color: white;
            text-decoration: none;
        }

        .menu ul li a:hover {
            background-color: rgb(59, 59, 59);
        }

        #active {
            border-bottom: 3px solid white;
        }

.container {
    background-color: black;
    width: 100vw;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .titulo h1{
        font-size: 3em;
    }